body {
    font-family: Arial, Helvetica, sans-serif;
}
.bg-img {
    position: relative;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bg-img {
    background-image: url("../imgs/main-place.jpeg");
    height: 82.5vh;
    width: 100.2vw;
    margin-left: -10px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    margin-left: 65px;
    text-align: left;
    color: white;
  }
h1 {
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    font-size: 1.5em;
    margin-top: 5px;
}
.fa-comment-alt {
    padding-right: 10px;
    padding-top: 5px;
}
#date {
    margin-bottom: 5px;
}
#comment {
    margin-top: -10px;
}
#read {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 3px solid white;
}
#read:hover {
    background-color: white;
    color: black;
}
header {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px -8px black;
    width: 100vw;
    height: 64px;
    margin-left: -12px;
}
header > :nth-child(2) {
    display: flex;
    margin-right: auto;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18px;
    margin-left: 20vw;
}
li a {
    text-decoration: none;
    color: #5a5a5a;
    margin-right: 50px;
    margin-left: 50px;
}
li a:hover {
    color: black;
}
#logo {
    width: 100px;
    height: 28.5px;
    margin-top: 13px;
    margin-left: 20px;
}
.topics img {
    width: 30px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 15px;
    transition: 0.2s ease-in-out;
}
.topics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: #eeeeee;
    margin-left: -10px;
}
.section {
    text-align: center;
    font-size: 0.75em;
}
a {
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    width: 240px;
    height: 28.5px;
    margin-top: 13px;
}
input {
    border-radius: 50px 0px 0px 50px;
    width: 175px;
    padding: 10px;
    border: 1px solid black;
}
form button {
    border-radius: 0px 50px 50px 0px;
    background-color: black;
    border: 1px solid black;
    padding-top: 7px;
    width: 30px;
    display: flex;
}
form button i {
    color: white;
}
.section:hover .icon {
    transform: scale(1.2);
}