body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: white;
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
}

/* --------------------------------------------------- LANDING AREA ---------------------------------------------------*/

.background {
    position: relative;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    height: 93vh;
    width: 100vw;
  }
.caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 45vw;
    margin-left: 65px;
    text-align: left;
    color: white;
  }
#feat {
    font-size: 1em;
    letter-spacing: 0.5em;
    margin-bottom: 0;
}
h1 {
    font-size: 4.5em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 0;
}
.caption p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 10px;
}
.caption i {
  padding-right: 35px;
}
.caption a {
    transition: 0.3s ease-in-out;
}
.caption a:hover {
    transform: scale(1.3);
    cursor:pointer;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
#watch i {
  padding-right: 12px;
}
#watch {
display: inline-block;
width: 180px;
height: 45px;
padding-top: 2px;
margin-top: 10px;
border-radius: 100px;
border: 2px solid white;
color: white;
text-align: center;
font-size: 1em;
text-transform: uppercase;
font-weight: bold;
transition: all 0.3s;
position: relative;
overflow: hidden;
background-color: transparent;
z-index: 1;
}
#watch:focus {
transform: scale(1.1);
}
#watch:after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background-color: transparent;
border-radius: 100px;
z-index: -2;
}
#watch:before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0%;
height: 100%;
background-color: white;
transition: all 0.3s;
border-radius: 5px;
z-index: -1;
}
#watch:hover {
color: black;
cursor: pointer;
}
#watch:hover:before {
width: 100%;
}

/* --------------------------------------------------- HEADER/NAVIGATION ---------------------------------------------------*/

.active {
    color: white !important;
    font-weight: bold;
}
header, .logo {
  font-family: 'Comfortaa', cursive;
  font-size: 1.2em;
}
header a {
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
}
.logo {
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
}
header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    align-items: center;
    width: 100vw;
    height: 56px;
    background-color: #151515;
    z-index: 2;
    box-shadow: 0 8px 8px -8px black;
}
#nav-container {
    position: fixed;
    top:0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    margin-top: -6px;
    margin-left: -10px;
    z-index: 3;
}
#nav-container .bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 58px);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    
  }
  #nav-container:focus-within .bg {
    visibility: visible;
  }
  #nav-container * {
    visibility: visible;
  }
  .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 40px;
    width: 28px;
    margin-top: 13px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 30px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .icon-bar {
    display: block;
    width: 28px;
    height: 2px;
    background: white;
    transition: .3s;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  
  #nav-container:focus-within .button {
    pointer-events: none;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0,7px,0) rotate(45deg);
  }
  #nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0,-7px,0) rotate(-45deg);
  }
  
  #nav-content {
    margin-top: 62px;
    padding: 20px;
    padding-left: 30px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 72px);
    background: #000;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
  }
  
  #nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #nav-content li a {
    padding: 20px 5px;
    display: block;
    text-transform: uppercase;
    transition: color .1s;
    color: #9a9a9a;
  }
  #nav-content li i {
      margin-right: 15px;
  }
  
  #nav-content li a:hover {
    color: white;
  }
  #nav-container:focus-within #nav-content {
    transform: none;
  }
  ul {
    padding: 0;
    list-style: none;
  }

/* --------------------------------------------------- HEADER SEARCH BAR ---------------------------------------------------*/

#wrap {
    margin: 8px 8px;
    position: fixed;
    top:0;
    height: 55px;
    padding: 0;
    z-index: 6;
    margin-left: 94vw;
  }
  
  input[type="text"] {
    height: 30px;
    font-size: 15px;
    display: inline-block;
    border: none;
    outline: none;
    color: white;
    padding: 3px;
    padding-right: 40px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }
  
  input[type="text"]:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 1px solid white;
    cursor: text;
  }
  input[type="submit"] {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-top: 8px;
    background: url(../imgs/magnifier.svg) center center no-repeat;
    text-indent: -1000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    cursor: pointer;
    transition: opacity .4s ease;
  }
  input::placeholder {
      color: #656565;
  }
  #account {
    z-index: 6;
    position: fixed;
    color: white;
    font-size: 1.8em;
    margin-left: 96.5vw;
    margin-top: 13px;
  }
  .hide-me {
    opacity: 0;
  }

/* --------------------------------------------------- SECTION BAR ---------------------------------------------------*/

.topics {
  background-color: #151515;
  height: 6vh;
  width: 100vw;
  margin-top: -15px;
}
a {
  text-decoration: none;
}
#sections i {
  padding-right: 10px;
}
#sections a {
  font-size: 0.9em;
  color: #9a9a9a;
}
#section-head {
  display: none;
}
.section-d {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.section-d li {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 2.1vh;
}
.section-d a {
  transition: 0.2s ease-in-out;
}
.section-d li a:hover {
  color: white !important;
  cursor: pointer;
}

/* --------------------------------------------------- VIDEOS ---------------------------------------------------*/
#head {
    margin-left: 5vw;
    margin-top: 50px;
    font-size: 1.8em;
    font-weight: bold;
  }

iframe {
    width: 100%;
    height: 100%;
}

.videos h3 {
    font-size: 1.6em;
    margin: 15px;
    margin-top: 45%;
}

.videos {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 20px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 275px 275px 275px;
}
.video-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.video-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.video-3 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.video-4 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.video-5 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.video-6 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.video-7 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.video-8 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.video-9 {
    grid-column: 3/4;
    grid-row: 3/4;
}

footer {
  margin-top: 150px;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer li {
  margin: 30px 0px;
  text-transform: uppercase;
}
#first {
  border: none;
}
.footer a {
  color: white;
  border-left: 1px solid white;
  padding: 5px 100px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer i {
  padding-right: 15px;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.legal-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.9em;
}
.legal-info a {
  padding: 25px;
  color: #9a9a9a;
}
.legal-info a:hover {
  text-decoration: underline;
}


 /* --------------------------------------------------- MEDIA QUERIES ---------------------------------------------------*/

 @media (max-width: 1400px) and (min-width: 1020px) {

  #account {
    margin-left: 96vw;
  }
  #wrap {
    margin-left: 94vw;
  }
  .footer a {
    padding: 5px 75px;
  }
  .caption {
    width: 80vw;
    top: 40%;
  }
  .topics {
    height: 4vh;
  }
  .section-d li {
    padding-top: 1.2vh;
  }
  .background {
    height: 96vh;
  }
  .videos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 275px 275px 275px 275px 275px;
  }
  .video-1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .video-2 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .video-3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .video-4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .video-5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .video-6 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .video-7 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .video-8 {
    grid-column: 3/5;
    grid-row: 4/5;
  }
  .video-9 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  }
  @media (max-width: 1019px) and (min-width: 600px) {
  #account {
    margin-left: 94.5vw;
    margin-right: 0;
  }
  #wrap {
    margin-left: 91.5vw;
  }

  .footer a {
    padding: 5px 30px;
    font-size: 0.9em;
  }
  .legal-info a {
    font-size: 0.8em;
  }
  input[type="text"]:focus {
    width: 150px;
  }
  .caption {
    width: 90vw;
    margin-left: 35px;
    top: 40%;
  }
  .caption p {
    font-size: 1em;
  }
  h1 {
    font-size: 3em;
  }
  .topics {
    height: 5vh;
  }
  .section-d li {
    padding-top: 1.5vh;
  }
  .background {
    height: 95vh;
  }
  .videos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
  }
  .video-1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .video-2 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .video-3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .video-4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .video-5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .video-6 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .video-7 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .video-8 {
    grid-column: 3/5;
    grid-row: 4/5;
  }
  .video-9 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  }


  @media (max-width: 599px) {
    #account {
      visibility: hidden;
    }
    #wrap {
      visibility: hidden;
    }
    header {
      justify-content: flex-end;
    }
    header a {
      margin-right: 10px;
    }
  #account {
    margin-left: 95vw;
  }
  .footer a {
    padding: 5px 10px;
    font-size: 0.7em;
  }
  .legal-info a {
    font-size: 0.6em;
  }
  .hide-me {
    opacity: 1;
  }
  .caption {
    width: 90vw;
    margin-left: 25px;
    top: 35%;
  }
  .caption p {
    font-size: 0.9em;
  }
  h1 {
    font-size: 3em;
  }
  .topics {
    height: 10vh;
  }
  .section-d li {
    padding-top: 1.8vh;
  }
  .background {
    height: 94vh;
  }
  .videos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 200px);
  }
  .video-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .video-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .video-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .video-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .video-5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .video-6 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .video-7 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .video-8 {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .video-9 {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  }